version: "3.8"

services:
  postgres:
    image: postgres:14
    container_name: odoo-postgres
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: odoo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - odoo-network

  odoo:
    image: odoo:16.0
    container_name: odoo-app
    depends_on:
      - postgres
    ports:
      - "8070:8069"
    environment:
      HOST: postgres
      USER: odoo
      PASSWORD: odoo
      DB_PORT: 5432
    volumes:
      - ./addons:/mnt/extra-addons
      - ./config:/etc/odoo
    networks:
      - odoo-network
    command: odoo -i base -c /etc/odoo/odoo.conf

volumes:
  postgres_data:

networks:
  odoo-network:
    driver: bridge
