<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLNS"
            sequence="0"/>
        <menuitem name="Quản lý nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien"
        />

        <menuitem name="Quản lý chung"
            id="menu_dropdown"
            parent="menu_root"
            sequence="1"/>
        
        <menuitem name="Quản lý chức vụ" 
            id="menu_chuc_vu" 
            parent="menu_dropdown" 
            sequence="2"
            action="action_chuc_vu"
        />
        <menuitem name="Quản lý đơn vị" 
            id="menu_don_vi" 
            parent="menu_dropdown" 
            sequence="3"
            action="action_don_vi"
        />
        
        <menuitem name="Lịch sử công tác" 
            id="menu_lich_su_cong_tac" 
            parent="menu_root" 
            sequence="1"
            action="action_lich_su_cong_tac"
        />
        <menuitem name="Bằng cấp" 
            id="menu_bang_cap" 
            parent="menu_dropdown" 
            sequence="4"
            action="action_bang_cap"
        />
        <menuitem name="Quản lý bằng cấp" 
            id="menu_quan_ly_bang_cap" 
            parent="menu_root" 
            sequence="1"
            action="action_quan_ly_bang_cap"
        />   
    </data>
</odoo>